@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blur {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
} */

body {
  background-color: #EADBC8;
}

.lemon {
  background: linear-gradient(0deg, rgba(255,238,93,1) 0%, rgba(252,242,158,1) 100%);
}

.ginger {
  background: linear-gradient(0deg, rgba(201,80,49,1) 0%, rgba(192,117,98,1) 100%);;
}

.tea {
  background: linear-gradient(0deg, rgba(20,105,20,1) 0%, rgba(71,131,71,1) 100%);
}

.orange {
  background: linear-gradient(0deg, rgba(238,154,0,1) 0%, rgba(255,209,125,1) 100%);
}

.lavender {
  background: linear-gradient(0deg, rgba(231,170,255,1) 0%, rgba(239,199,255,1) 100%);
}

.peppermint {
  background: linear-gradient(0deg, rgba(20,126,94,1) 0%, rgba(27,164,123,1) 100%);
}

